{% extends "portal/base.html" %}

{% block title %}<title>Eway Print</title>{% endblock %}

{% block my_body %}

     {% load static %}
    <div class="text-center">
        <div class="jumbotron container aa-main-div img-rounded">
            <h2> Welcome to Eway Print </h2>
            <br><br>
            <h1>{{ customer.Name }}</h1>
            <a href="{% url 'transaction_add' %}"><button class="btn btn-primary">Upload File</button></a><br><br><br>
            <a href="{% url 'account_dashboard' %}"><button class="btn btn-primary">My Account</button></a><br><br><br>
            <a href="{% url 'my_transactions' %}"><button class="btn btn-primary">My Transactions</button></a>
        </div>
    </div>


{% endblock %}
